* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    background: url(IMG/Website-Backgrounds.webp);
    background-size: cover;
    background-position: 100vw;
    overflow-x: hidden;
    animation: ciel 20s infinite ease;
}

@keyframes ciel {
    0%, 100%{
        background-size: 100%;
    }
    50%{
        background-size: 150%;
    }
}

header {
    margin-top: 15px;
    color: white;
    margin-bottom: 100px;
    padding: 0 10px;
    position: sticky;
    top: 0;
}

.nav {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background: url(IMG/OIP.jpg);
    background-size: cover;
    box-shadow: 0 0 3px #cdcbd6;
    margin: auto;
    position: relative;
    top: 10px;
    overflow: hidden;
    z-index: 0;
}

.branding {
    margin: 10px 0;
    z-index: 2;
}

.logo {
    z-index: 2;
}

.logo svg {
    width: 35px;
    aspect-ratio: 1;
    fill: none;
    stroke: white ;
    stroke-width: 2.5;
}

.balai {
    position: absolute;
    z-index: 1;
    width: 1200px;
    background-color: #358bc5;
    height: 100px;
    top: -10px;
    left: -1300px;
    animation: passe 15s infinite ease-in;
}

@keyframes passe {
    0%,100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(1200px);
    }
}
.list {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px 20vh 10px;
}

.tache {
    max-width: 800px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px auto;
    transition: 1s;
}

.tache:hover {
    transform: scaleY(1.2);
    box-shadow: 0 0 5px #010304;
    margin-bottom: 50px;
}

.control {
    width: 100%;
    background-color:#358bc5;
    padding: 5px 5px 0 5px;
    border-radius: 10px 10px 0 0;
    color: white;
    display: flex;
    justify-content: end;
    transition: 0.5s;
}

.tache:hover .control {
    background-color:#258443;
}

.control span {
    font-size: 20px;
}

.clear {
    margin-right: 10px;
    width: 24px;
    aspect-ratio: 1;
    fill: white;
    stroke: #358bc5 ;
    stroke-width: 0;
    cursor: pointer;
    transition: 0.5s;
}

.clear:hover {
    fill: #c60c0c;
}

.plane {
    transform: scale(0) rotate(720deg);
    transition: 1s;
    z-index: -1;
}


.tache p {
    padding: 5px;
    font-size: 25px;
    text-align: center;
}

.add-tache {
    position: fixed;
    bottom: 75px;
    right: 25vw;
    background-color: #358bc5;
    border-radius: 10px;
    padding: 5px;
    transform: translateX(100vw);
    transition: 1s;
    opacity: 0;
    transform: scale(1.2);
    pointer-events: none;
}

.active {
    transform: scale(1);
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
    transition: 1s;
    pointer-events: auto;
}

form {
    display: flex;
    align-items: center;
}

form textarea {
    width: 500px;
    height: 50px;
    resize: none;
    border: 1px solid #358bc5;
    border-radius: 5px 0 0 5px ;
    padding: 3px;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    width: 50px;
    color: white;
    border: none;
    cursor: pointer;
}

form div :nth-child(1) {
    height: 25px;
    border-radius: 0 5px 0 0;
    background-color: #358bc5;
}

form div :nth-child(2) {
    height: 25px;
    border-radius: 0 0 5px 5px;
    background-color: #c10a00;
}

.btn-add {
    position: fixed;
    bottom: 80px;
    right: 40px;
    padding: 10px;
    background-color: #358bc5;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #01080d;
    cursor: pointer;
}

.btn-add svg {
    width: 30px;
    aspect-ratio: 1;
    fill: none;
    stroke: #ffffff ;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: aliceblue;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

footer svg {
    width: 24px;
    aspect-ratio: 1;
    fill: #101b23;
    stroke: white ;
    stroke-width: 0;
}

@media screen and (max-width: 620px) {
    header {
        margin-top: 5px;
    }

    .add-tache {
        bottom: 50px;
        right: 10px;
    }

    .btn-add {
        bottom: 55px;
        right: 10px;
    }

    form textarea {
        width: 300px;
        font-size: 15px;
    }

    footer{
        padding: 5px 0;
    }
}

@media screen and (max-width: 380px) {

    .btn-add {
       border-radius: 50%;
    }

    form textarea {
        width: 200px;
        font-size: 15px;
    }

    .logo svg {
        width: 30px;
        stroke-width: 2;
    }

    .branding {
        margin: 5px 0;
    }

    .branding h1 {
        font-size: 25px;
    }

    .tache p {
        padding: 5px;
        font-size: 15px;
        text-align: start;
        
    }

    .control {
        padding: 2px 2px 0 2px;
        border-radius: 5px 5px 0 0;
    }
    
    .control span {
        font-size: 15px;
    }
    
    .clear {
        margin-right: 5px;
        width: 20px;
    }
    

}